.div-table {
  display: table;         
  width: auto;
  margin-left:5%;      
  background-color: #eee;         
  border: 1px solid #666666;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
    border-bottom:1px solid #666666;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 200px;         
  background-color: #eee; 
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 10px;

}


.link-detail{
  cursor:pointer;
}