<div class="container">
<h2 class="text-center">{{title}}</h2>

<div class="row">
  <!--MODEL DRIVEN FORM-->
<form  [formGroup]="form" (ngSubmit)="saveUser();form.reset()">
 <div class="form-group">
        <label for="login">Login:</label>
        <!--Defining a name attribute is a requirement when using [(ngModel)] in combination with a form.-->
        <input type="text" class="form-control" formControlName="login" id="login" [(ngModel)]="user.login" name="login" required>
        <div [hidden]="form.controls.login.valid ||(form.controls.login.pristine && !submitted)" class="alert alert-danger">Login required (min 4 characters)</div>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
            <!--We haved assigned name to formControlName-->
        <input type="text" class="form-control" formControlName="nombre" id="nombre" [(ngModel)]="user.name" name="nombre" required>
           <div [hidden]="form.controls.nombre.valid ||(form.controls.nombre.pristine && !submitted)">Nombre required (min 4 characters)</div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" formControlName="email" id="email" [(ngModel)]="user.email" name="email" required>
     <div [hidden]="form.controls.email.valid ||(form.controls.email.pristine && !submitted)">Email required (min 4 characters)</div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" formControlName="password"id="password" [(ngModel)]="user.website" name="password" required>
        <div [hidden]="form.controls.password.valid ||(form.controls.password.pristine && !submitted)">Password required (min 4 characters)</div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>

</form>
</div>

</div>
