<div class="parent">
  <span class="float-right title-component">{{titleComponent}}</span>   
<h1> Author:  {{author}}</h1>

                   <!--@Input-->         <!--@Output-->
 <child-component [giveMeObject]="objectToChild"
  [titleChild] ="stringChild"
  (dataToFather)='onNotify($event)'
  (returnChangedObject)='giveMeData($event)'></child-component><!---->
  <hr>
  <div class="text-center">
     <h2>@ChildView Demo</h2>
  <system-message></system-message>
  <button type="button" class="btn btn-warning" (click)="toogleMessage">Toogle Message</button>
  </div>
 
</div>
