<div class="parent">
  <span class="float-right title-component">{{titleComponent}}</span>   
<h1> Author:  {{author}}</h1>

                   <!--@Input-->         <!--@Output-->
 <child-component [title]="titleToChild" (dataToFather)='onNotify($event)'></child-component>
  <child-component [stringFromFather]="titleComponent"></child-component>

  
 <!--<child-component [objectFromFather]="objectToChild"></child-component>

 <componente-nesteado [propiedad input hijo]="valor de la propiedad padre"></componente-nesteado>
 cada dato pasado se pinta sobre el component que lo va a recibir

 -->
</div>
