<div class="container">

    <div class="child">
        <span class="float-left title-component">{{ titleComponent }}</span>
        <br>
        <hr>
        <hr>
        <h2>Books: </h2>
        <!--<h3>{{ titleToChild }}</h3>-->
        <ul class="books" *ngFor="let book of books">
            <li>{{ book.title }}</li>
            <li>{{ book.price }}</li>
        </ul>

        <div class="object-child">
            <span class="span-title">Paso de objeto</span>
            <ul>
                <!--LO QUE PINTAMOS ES LO QUE RECOGEMOS POR EL
                ATRIBUTO @Input()!!-->
                <li>ID: {{ giveMeObject.id }}</li>
                <li>NAME: {{ giveMeObject.name }}</li>
            </ul>
        </div>

        <br>
        <hr>
        <span class="output-data" (click)="changeObject()">Give Me Data!!</span>  - - - - - - 
        <span class="output-data" (click)="onClick()">Click me!!</span>
        <!--propiedad pasada a traves del @input del padre-->
        <!--pintamos la propiedad que nos viene en el atributo 
          ¡¡¡¡ RECUERDA!!! SE IGUALA DE DHA A IZDA
          -->
        <span class="text-center title">{{titleChild}}</span>
    </div>

</div>