.child{
    background-color: #aaa;
    padding:10px;
    overflow:auto;
}

.title{
color:#00f;
 font-weight: bold;
font-style: italic;
font-size:22px;
margin-left: 50%;
}

.title-component{
    color:red;
    font-weight: bold;
font-style: italic;
}

.book{
    background :rgb(122,55,95);
    padding:20px;
    margin:10px;
    width:300px;
    float:left; 
}

.output-data{
    color:#fff;
    cursor:pointer;
}